@model IEnumerable<AssetManagementSystemUI.HardwareViewModel>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Display Hardware";
    ViewBag.Token = HttpContextAccessor.HttpContext.Session.GetString("_token");
    if (ViewBag.Token != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_otherLayout.cshtml";
    }
}

<strong style="color: green">@TempData["msg"]</strong>
<strong style="color: darkred">@TempData["errormsg"]</strong>

@if(ViewBag.Token == null)
{
    <p>
        <a asp-action="Add">Add</a>
    </p>
    
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.SerialId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @if (ViewBag.Token == null)
            {
                <td>
                    @Html.ActionLink("Update", "Edit", new {  id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                </td>
            }
        </tr>
}
    </tbody>
</table>

