@model IEnumerable<AssetManagementSystemUI.AssetViewModel>

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_otherLayout.cshtml";
}

<div class="form">
    @using (Html.BeginForm("History", "AssetUI", FormMethod.Post))
    {
        @Html.DropDownList("All", new List<SelectListItem> { new SelectListItem { Text = "Book", Value = "1" }, new SelectListItem { Text = "Software", Value = "2" }, new SelectListItem { Text = "Hardware", Value = "3"} }, "All")
        <input type="submit" value="Apply" />
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedAsset)
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReturn)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedAsset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.FirstName) @Html.DisplayFor(modelItem => item.user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfReturn)
                </td>
        </tr>
}
    </tbody>
</table>
