@model IEnumerable<AssetManagementSystemUI.AssetViewModel>

@{
    ViewData["Title"] = "DisplayRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<strong style="color: green">@TempData["msg"]</strong>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedAsset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedAsset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
                    @{
                        ViewBag.status = item.Status;
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfReturn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                    @if(ViewBag.status == Status.Request.ToString())
                    {
                        @Html.ActionLink("Cancel", "CancelRequest", new { id=item.Id })
                    } 
                    @if(ViewBag.status == Status.Assigned.ToString())
                    {
                        @Html.ActionLink("Return Asset", "ReturnAsset", new {  id=item.Id })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
